<%- include('layouts/header.ejs'); -%>
    <div class="h-screen ">
        <form
            class="w-1/4 my-10 mx-auto py-10 px-14 border rounded border-red-400 flex flex-col items-center justify-center"
            method="POST" action="/delete/<%= product.product_id %>?_method=DELETE" enctype="multipart/form-data">
            <label class="block text-gray-500 font-bold text-xl  mb-4" for="product-name">
                Delete <strong>
                    <%= product.name %>
                </strong> ?
            </label>
            <div>
                <a href="/" class="hover:text-green-400 text-green-500 font-bold py-2 px-4 rounded">
                    Back
                </a>
                <button
                    class="shadow bg-red-500 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    type="submit">
                    Delete
                </button>

            </div>

        </form>
    </div>