<!DOCTYPE html>
<html lang="en">

<head>
    <title>404 - Not Found</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-image: url('https://cdn.dribbble.com/users/1107612/screenshots/4602580/media/55aa62eb9c519d326014327372d9d12e.png?compress=1&resize=1000x500'); 
            background-repeat: no-repeat; background-color: black; background-size: cover; ">
</body>

</html>