<%- include('layouts/header.ejs'); -%>

    <body style="background-image: url('https://cdn.dribbble.com/users/1107612/screenshots/4602580/media/55aa62eb9c519d326014327372d9d12e.png?compress=1&resize=1000x500'); 
            background-repeat: no-repeat; background-color: black; background-size: cover; ">
    </body>

    </html>